* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin flexcenter($dir) {
    display: flex;
    flex-direction: $dir;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    font-size: 16px;
    background-color: hsl(240, 78%, 98%);
    @include flexcenter(column);
    justify-content: space-around;
}
.bgimage{
    width: 100%;
    position: absolute;
    min-height: 100%;
    z-index: -1;

    img{
        position: absolute;
        width: 20%;
        
    }
    .top {
        top: 0;
        right: 0;
        height: 70%;
    }
    .bottom {
        bottom: 0;
        left: 0;
        height: 20%;
    }
}
.upper {
    width: 15%;
    min-width: 250px;
    @include flexcenter(column);
    justify-content: space-between;
    height: 10%;
    font-size: 0.8rem;
    @media screen and (max-width: 1024px) {
        height: 8%;
        font-size: 1.2rem;
    }
    color: hsl(233, 13%, 49%);

    .content {
        @include flexcenter(row);
        justify-content: space-around;
        width: 100%;
        color: hsl(234, 14%, 74%);

        .bar {
            width: 20%;
            height: 150%;
            border-radius: 100px;
            position: relative;
            @include flexcenter(row);
            background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
            
            .circle {
                position: absolute;
                left: 8%;
                width: 35%;
                height: 75%;
                border-radius: 50%; 
                background-color: #fff;
                cursor: pointer;
                transition: transform 0.2s linear;
            }

            .slide {
                transform: translateX(130%);
                
            }
        }
    }
}
.lower {
    width: 70%;
    @media screen and (max-width: 1024px) {
        width: 85%;
    }

    height: 70%;
    @include flexcenter(row);
    .professional {
        background-image: linear-gradient(-135deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));

        .footer {
            p:hover {
                border: 1px solid #fff;
                background-image: linear-gradient(-135deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
                color: #fff;
            }
        }
    }
    .basic, .professional, .master {
        width: 33.33%;
        height: 100%;
        @include flexcenter(column);
        justify-content: space-evenly;
        border-radius: 5px;


        @media screen and (max-width: 1080px) {
            height: 70%;
            font-size: 1.2rem;
        }
        
        .header, .main, .footer {
            width: 100%;
            height: 40%;
            @include flexcenter(column);
            justify-content: space-evenly;
            color: hsl(233, 13%, 49%);
        }

        .header {
            .change {
                @include flexcenter(row);
                span {
                    font-size: 2rem;

                    @media screen and (max-width: 1024px) {
                        font-size: 1.5rem;
                    }
                }
            }
        }
        .header h1 {
            @media screen and (max-width: 1024px) {
                font-size: 3rem;
            }

            font-size: 5rem;
            color: hsl(232, 13%, 33%);
        }

        .main {
            p:nth-child(1) {
                border-top: 1px solid hsl(234, 14%, 74%) ;
            }
            p {
                border-bottom: 1px solid hsl(234, 14%, 74%) ;
                width: 90%;
                height: 33.33%;
                @include flexcenter(row);
            }
        }
        .footer {
            height: 30%;
            text-transform: uppercase;
            p {
                border-radius: 5px;
                width: 90%;
                height: 35%;
                @include flexcenter(row);
                background-color: #fff;
                color: hsl(237, 63%, 64%);
                cursor: pointer;
            }
        }
    }
    .basic, .master {
        height: 90%;
        @media screen and (max-width: 1532px) {
            height: 70%;
        }
        @media screen and (max-width: 1080px) {
            height: 50%;
        }

        background-color: #fff;
        .footer {
            color: hsl(237, 63%, 64%);
            
            p {
                color: #fff;
                background-image: linear-gradient(-135deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
            }

            p:hover {
                border: 1px solid hsl(237, 63%, 64%);
                background-image: linear-gradient(#fff, #fff);
                color: hsl(237, 63%, 64%);
            }
        }
    }
    .professional {
        .header h1 {
            color: #fff;
        }
        .header, .main, .footer {
            color: #fff;
        }
    }
}


@media screen and (min-width: 768px) {
    
    
    
    
}

@media screen and (max-width: 767px) {
    html {
        height: 100%;
    }
    body {
        min-height: 100%;
        justify-content: space-between;
    }
    .upper {
        margin-top: 3rem;
    }
    .lower {
        margin-top: 4rem;
        @include flexcenter(column);
        height: 120vh;
        justify-content: space-between;
        .basic, .master, .professional {
            height: 30%;
            width: 90%;
            font-size: 0.8rem;

            .header {
                .change {
                    span {
                        font-size: 1rem;
                    }
                    h1 {
                        font-size: 2.5rem;
                    }
                }
            }

            .footer {
                p {
                    height: 5vh;
                }
            }
        }
    }
}